body,div,p,img,h1,h2,h3,h4,h5,h6,a,ul,ol,dl,li,dt,span{
	padding:0;
	margin:0;
	border:0;
}
ol,ul,dl{
	list-style-type:none;
}
a{
	text-decoration:none;
}
body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}